<a href="https://colab.research.google.com/github/leighanne77/hello_world/blob/master/Zotero_Data_Processing_%2B_Vectorization_October_29%2C_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving Zotero October 28, 2023.json to Zotero October 28, 2023.json

In [ ]:
with open('Zotero October 28, 2023.json', 'r') as f:
    data = json.load(f)

In [ ]:
import pandas as pd

for item in data:
    authors = item.get('author', [])
    for idx, author in enumerate(authors):
        item[f'author{idx + 1}_name'] = f"{author['given']} {author['family']}"
    item.pop('author', None)

    if 'issued' in item:
        issued_date_parts = item['issued']['date-parts'][0]
        item['issued_date'] = '-'.join(map(str, issued_date_parts))
        item.pop('issued', None)

    if 'accessed' in item:
        accessed_date_parts = item['accessed']['date-parts'][0]
        item['accessed_date'] = '-'.join(map(str, accessed_date_parts))
        item.pop('accessed', None)

df = pd.DataFrame(data)

In [ ]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 56 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   201 non-null    object
 1   type                 201 non-null    object
 2   abstract             158 non-null    object
 3   container-title      90 non-null     object
 4   DOI                  27 non-null     object
 5   ISSN                 12 non-null     object
 6   issue                8 non-null      object
 7   journalAbbreviation  6 non-null      object
 8   page                 12 non-null     object
 9   source               49 non-null     object
 10  title                201 non-null    object
 11  title-short          45 non-null     object
 12  URL                  193 non-null    object
 13  volume               11 non-null     object
 14  author1_name         85 non-null     object
 15  author2_name         30 non-null     object
 16  issued_date          112 non-null    object
 17  accessed_date        195 non-null    object
 18  language             101 non-null    object
 19  note                 37 non-null     object
 20  author3_name         24 non-null     object
 21  license              12 non-null     object
 22  author4_name         19 non-null     object
 23  author5_name         14 non-null     object
 24  author6_name         13 non-null     object
 25  dimensions           7 non-null      object
 26  director             7 non-null      object
 27  number               16 non-null     object
 28  publisher            17 non-null     object
 29  author7_name         7 non-null      object
 30  author8_name         6 non-null      object
 31  author9_name         5 non-null      object
 32  author10_name        3 non-null      object
 33  collection-title     4 non-null      object
 34  event-place          3 non-null      object
 35  ISBN                 3 non-null      object
 36  publisher-place      3 non-null      object
 37  genre                5 non-null      object
 38  author11_name        2 non-null      object
 39  author12_name        1 non-null      object
 40  author13_name        1 non-null      object
 41  author14_name        1 non-null      object
 42  author15_name        1 non-null      object
 43  author16_name        1 non-null      object
 44  author17_name        1 non-null      object
 45  author18_name        1 non-null      object
 46  author19_name        1 non-null      object
 47  author20_name        1 non-null      object
 48  author21_name        1 non-null      object
 49  author22_name        1 non-null      object
 50  author23_name        1 non-null      object
 51  author24_name        1 non-null      object
 52  author25_name        1 non-null      object
 53  author26_name        1 non-null      object
 54  number-of-pages      1 non-null      object
 55  medium               1 non-null      object
dtypes: object(56)
memory usage: 88.1+ KB
None
                                                     id     type  \
count                                               201      201
unique                                              201       13
top     http://zotero.org/users/12416069/items/HNQA5SQ8  webpage
freq                                                  1      119

                                                 abstract container-title  \
count                                                 158              90
unique                                                152              67
top     The CEO of Alphabet's X says no problem in the...          Medium
freq                                                    3               8

                    DOI                  ISSN issue journalAbbreviation page  \
count                27                    12     8                   6   12
unique               27                    11     6                   5   11
top     10.1145/3548772  1935-8237, 1935-8245     8                 MAL    2
freq                  1                     2     2                   2    2

           source  ... author19_name  author20_name   author21_name  \
count          49  ...             1              1               1
unique         17  ...             1              1               1
top     arXiv.org  ...  David Budden  Laurent Sifre  Simon Osindero
freq           16  ...             1              1               1

        author22_name author23_name author24_name      author25_name  \
count               1             1             1                  1
unique              1             1             1                  1
top     Oriol Vinyals      Jack Rae   Erich Elsen  Koray Kavukcuoglu
freq                1             1             1                  1

         author26_name number-of-pages medium
count                1               1      1
unique               1               1      1
top     Karen Simonyan              83  colab
freq                 1               1      1

[4 rows x 56 columns]

In [ ]:
print(df.isnull().sum())

id                       0
type                     0
abstract                43
container-title        111
DOI                    174
ISSN                   189
issue                  193
journalAbbreviation    195
page                   189
source                 152
title                    0
title-short            156
URL                      8
volume                 190
author1_name           116
author2_name           171
issued_date             89
accessed_date            6
language               100
note                   164
author3_name           177
license                189
author4_name           182
author5_name           187
author6_name           188
dimensions             194
director               194
number                 185
publisher              184
author7_name           194
author8_name           195
author9_name           196
author10_name          198
collection-title       197
event-place            198
ISBN                   198
publisher-place        198
genre                  196
author11_name          199
author12_name          200
author13_name          200
author14_name          200
author15_name          200
author16_name          200
author17_name          200
author18_name          200
author19_name          200
author20_name          200
author21_name          200
author22_name          200
author23_name          200
author24_name          200
author25_name          200
author26_name          200
number-of-pages        200
medium                 200
dtype: int64

In [ ]:
df = df.dropna(axis=1, how='all')

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 56 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   201 non-null    object
 1   type                 201 non-null    object
 2   abstract             158 non-null    object
 3   container-title      90 non-null     object
 4   DOI                  27 non-null     object
 5   ISSN                 12 non-null     object
 6   issue                8 non-null      object
 7   journalAbbreviation  6 non-null      object
 8   page                 12 non-null     object
 9   source               49 non-null     object
 10  title                201 non-null    object
 11  title-short          45 non-null     object
 12  URL                  193 non-null    object
 13  volume               11 non-null     object
 14  author1_name         85 non-null     object
 15  author2_name         30 non-null     object
 16  issued_date          112 non-null    object
 17  accessed_date        195 non-null    object
 18  language             101 non-null    object
 19  note                 37 non-null     object
 20  author3_name         24 non-null     object
 21  license              12 non-null     object
 22  author4_name         19 non-null     object
 23  author5_name         14 non-null     object
 24  author6_name         13 non-null     object
 25  dimensions           7 non-null      object
 26  director             7 non-null      object
 27  number               16 non-null     object
 28  publisher            17 non-null     object
 29  author7_name         7 non-null      object
 30  author8_name         6 non-null      object
 31  author9_name         5 non-null      object
 32  author10_name        3 non-null      object
 33  collection-title     4 non-null      object
 34  event-place          3 non-null      object
 35  ISBN                 3 non-null      object
 36  publisher-place      3 non-null      object
 37  genre                5 non-null      object
 38  author11_name        2 non-null      object
 39  author12_name        1 non-null      object
 40  author13_name        1 non-null      object
 41  author14_name        1 non-null      object
 42  author15_name        1 non-null      object
 43  author16_name        1 non-null      object
 44  author17_name        1 non-null      object
 45  author18_name        1 non-null      object
 46  author19_name        1 non-null      object
 47  author20_name        1 non-null      object
 48  author21_name        1 non-null      object
 49  author22_name        1 non-null      object
 50  author23_name        1 non-null      object
 51  author24_name        1 non-null      object
 52  author25_name        1 non-null      object
 53  author26_name        1 non-null      object
 54  number-of-pages      1 non-null      object
 55  medium               1 non-null      object
dtypes: object(56)
memory usage: 88.1+ KB
None

In [ ]:
threshold = 2  # Set this to whatever number you feel is appropriate
df = df.dropna(thresh=threshold, axis=1)

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   201 non-null    object
 1   type                 201 non-null    object
 2   abstract             158 non-null    object
 3   container-title      90 non-null     object
 4   DOI                  27 non-null     object
 5   ISSN                 12 non-null     object
 6   issue                8 non-null      object
 7   journalAbbreviation  6 non-null      object
 8   page                 12 non-null     object
 9   source               49 non-null     object
 10  title                201 non-null    object
 11  title-short          45 non-null     object
 12  URL                  193 non-null    object
 13  volume               11 non-null     object
 14  author1_name         85 non-null     object
 15  author2_name         30 non-null     object
 16  issued_date          112 non-null    object
 17  accessed_date        195 non-null    object
 18  language             101 non-null    object
 19  note                 37 non-null     object
 20  author3_name         24 non-null     object
 21  license              12 non-null     object
 22  author4_name         19 non-null     object
 23  author5_name         14 non-null     object
 24  author6_name         13 non-null     object
 25  dimensions           7 non-null      object
 26  director             7 non-null      object
 27  number               16 non-null     object
 28  publisher            17 non-null     object
 29  author7_name         7 non-null      object
 30  author8_name         6 non-null      object
 31  author9_name         5 non-null      object
 32  author10_name        3 non-null      object
 33  collection-title     4 non-null      object
 34  event-place          3 non-null      object
 35  ISBN                 3 non-null      object
 36  publisher-place      3 non-null      object
 37  genre                5 non-null      object
 38  author11_name        2 non-null      object
dtypes: object(39)
memory usage: 61.4+ KB
None

In [ ]:
df.fillna(value=0, inplace=True)  # Replace NaN with 0

<ipython-input-11-a535f51ebf77>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna(value=0, inplace=True)  # Replace NaN with 0

In [ ]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   201 non-null    object
 1   type                 201 non-null    object
 2   abstract             201 non-null    object
 3   container-title      201 non-null    object
 4   DOI                  201 non-null    object
 5   ISSN                 201 non-null    object
 6   issue                201 non-null    object
 7   journalAbbreviation  201 non-null    object
 8   page                 201 non-null    object
 9   source               201 non-null    object
 10  title                201 non-null    object
 11  title-short          201 non-null    object
 12  URL                  201 non-null    object
 13  volume               201 non-null    object
 14  author1_name         201 non-null    object
 15  author2_name         201 non-null    object
 16  issued_date          201 non-null    object
 17  accessed_date        201 non-null    object
 18  language             201 non-null    object
 19  note                 201 non-null    object
 20  author3_name         201 non-null    object
 21  license              201 non-null    object
 22  author4_name         201 non-null    object
 23  author5_name         201 non-null    object
 24  author6_name         201 non-null    object
 25  dimensions           201 non-null    object
 26  director             201 non-null    object
 27  number               201 non-null    object
 28  publisher            201 non-null    object
 29  author7_name         201 non-null    object
 30  author8_name         201 non-null    object
 31  author9_name         201 non-null    object
 32  author10_name        201 non-null    object
 33  collection-title     201 non-null    object
 34  event-place          201 non-null    object
 35  ISBN                 201 non-null    object
 36  publisher-place      201 non-null    object
 37  genre                201 non-null    object
 38  author11_name        201 non-null    object
dtypes: object(39)
memory usage: 61.4+ KB
None
                                                     id     type  abstract  \
count                                               201      201       201
unique                                              201       13       153
top     http://zotero.org/users/12416069/items/HNQA5SQ8  webpage         0
freq                                                  1      119        43

        container-title  DOI  ISSN  issue  journalAbbreviation  page  source  \
count               201  201   201    201                  201   201     201
unique               68   28    12      7                    6    12      18
top                   0    0     0      0                    0     0       0
freq                111  174   189    193                  195   189     152

        ... author7_name  author8_name  author9_name  author10_name  \
count   ...          201           201           201            201
unique  ...            8             7             6              4
top     ...            0             0             0              0
freq    ...          194           195           196            198

        collection-title  event-place  ISBN publisher-place  genre  \
count                201          201   201             201    201
unique                 3            2     2               2      5
top                    0            0     0               0      0
freq                 197          198   198             198    196

        author11_name
count             201
unique              3
top                 0
freq              199

[4 rows x 39 columns]

In [ ]:
import numpy as np
import re


# Define valid_dates using regex pattern
pattern = r'^\d{4}-\d{2}-\d{2}$'
valid_dates = df['issued_date'].str.match(pattern).fillna(False)


if 'issued_date' in df:

    # Filter the dataframe based on valid dates.
    filtered_dates = df.loc[valid_dates, 'issued_date']


    # Split the filtered `issued_date`.
    df.loc[valid_dates, 'issued_year'] = filtered_dates.str.split('-').str[0].astype(np.int16)
    df.loc[valid_dates, 'issued_month'] = filtered_dates.str.split('-').str[1].astype(np.int16)
    df.loc[valid_dates, 'issued_day'] = filtered_dates.str.split('-').str[2].astype(np.int16)

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   201 non-null    object
 1   type                 201 non-null    object
 2   abstract             201 non-null    object
 3   container-title      201 non-null    object
 4   DOI                  201 non-null    object
 5   ISSN                 201 non-null    object
 6   issue                201 non-null    object
 7   journalAbbreviation  201 non-null    object
 8   page                 201 non-null    object
 9   source               201 non-null    object
 10  title                201 non-null    object
 11  title-short          201 non-null    object
 12  URL                  201 non-null    object
 13  volume               201 non-null    object
 14  author1_name         201 non-null    object
 15  author2_name         201 non-null    object
 16  issued_date          201 non-null    object
 17  accessed_date        201 non-null    object
 18  language             201 non-null    object
 19  note                 201 non-null    object
 20  author3_name         201 non-null    object
 21  license              201 non-null    object
 22  author4_name         201 non-null    object
 23  author5_name         201 non-null    object
 24  author6_name         201 non-null    object
 25  dimensions           201 non-null    object
 26  director             201 non-null    object
 27  number               201 non-null    object
 28  publisher            201 non-null    object
 29  author7_name         201 non-null    object
 30  author8_name         201 non-null    object
 31  author9_name         201 non-null    object
 32  author10_name        201 non-null    object
 33  collection-title     201 non-null    object
 34  event-place          201 non-null    object
 35  ISBN                 201 non-null    object
 36  publisher-place      201 non-null    object
 37  genre                201 non-null    object
 38  author11_name        201 non-null    object
 39  issued_year          22 non-null     float64
 40  issued_month         22 non-null     float64
 41  issued_day           22 non-null     float64
dtypes: float64(3), object(39)
memory usage: 66.1+ KB
None

#Feature Engineering

In [ ]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler

# One-hot encoding for 'type'
type_encoder = OneHotEncoder()
type_one_hot = type_encoder.fit_transform(df[['type']])
type_df = pd.DataFrame(type_one_hot.toarray(), columns=type_encoder.get_feature_names_out(['type']))

# Join with the main dataframe
df = pd.concat([df, type_df], axis=1)

df_ready = df

In [ ]:
df_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 55 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       201 non-null    object
 1   type                     201 non-null    object
 2   abstract                 201 non-null    object
 3   container-title          201 non-null    object
 4   DOI                      201 non-null    object
 5   ISSN                     201 non-null    object
 6   issue                    201 non-null    object
 7   journalAbbreviation      201 non-null    object
 8   page                     201 non-null    object
 9   source                   201 non-null    object
 10  title                    201 non-null    object
 11  title-short              201 non-null    object
 12  URL                      201 non-null    object
 13  volume                   201 non-null    object
 14  author1_name             201 non-null    object
 15  author2_name             201 non-null    object
 16  issued_date              201 non-null    object
 17  accessed_date            201 non-null    object
 18  language                 201 non-null    object
 19  note                     201 non-null    object
 20  author3_name             201 non-null    object
 21  license                  201 non-null    object
 22  author4_name             201 non-null    object
 23  author5_name             201 non-null    object
 24  author6_name             201 non-null    object
 25  dimensions               201 non-null    object
 26  director                 201 non-null    object
 27  number                   201 non-null    object
 28  publisher                201 non-null    object
 29  author7_name             201 non-null    object
 30  author8_name             201 non-null    object
 31  author9_name             201 non-null    object
 32  author10_name            201 non-null    object
 33  collection-title         201 non-null    object
 34  event-place              201 non-null    object
 35  ISBN                     201 non-null    object
 36  publisher-place          201 non-null    object
 37  genre                    201 non-null    object
 38  author11_name            201 non-null    object
 39  issued_year              22 non-null     float64
 40  issued_month             22 non-null     float64
 41  issued_day               22 non-null     float64
 42  type_article             201 non-null    float64
 43  type_article-journal     201 non-null    float64
 44  type_article-magazine    201 non-null    float64
 45  type_book                201 non-null    float64
 46  type_document            201 non-null    float64
 47  type_entry-encyclopedia  201 non-null    float64
 48  type_motion_picture      201 non-null    float64
 49  type_paper-conference    201 non-null    float64
 50  type_post                201 non-null    float64
 51  type_post-weblog         201 non-null    float64
 52  type_software            201 non-null    float64
 53  type_thesis              201 non-null    float64
 54  type_webpage             201 non-null    float64
dtypes: float64(16), object(39)
memory usage: 86.5+ KB

# VECTORIZATION

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.preprocessing import StandardScaler
import scipy.sparse as sp
from sklearn.decomposition import PCA

In [ ]:
# Convert the 'abstract' column to string
df_ready['abstract'] = df_ready['abstract'].astype(str)

In [ ]:

# List of columns you want to vectorize
textual_columns = ['title', 'abstract', 'type', 'container-title', 'journalAbbreviation', 'note',
                   'author1_name', 'publisher', 'collection-title', 'event-place', 'genre', 'director']

# Process numerical columns
numerical_columns = ['issued_year', 'issued_month', 'issued_day', 'type_article']
scaler = StandardScaler()
scaled_numerical_df = pd.DataFrame(scaler.fit_transform(df_ready[numerical_columns]), columns=numerical_columns)

# Ensure unique naming for numerical columns
scaled_numerical_df.columns = [f"{col}_numerical" for col in scaled_numerical_df.columns]

vectorized_dataframes = {}  # Using a dictionary to store each vectorized DataFrame with the column name as the key

for column in textual_columns:
    vectorizer = TfidfVectorizer(max_features=500)
    vectors = vectorizer.fit_transform(df_ready[column].astype('str'))  # Convert column to string type to ensure compatibility
    vectorized_df = pd.DataFrame(vectors.toarray(), columns=[f"{column}_{feature}" for feature in vectorizer.get_feature_names_out()])
    vectorized_dataframes[column] = vectorized_df  # Save the vectorized DataFrame in the dictionary

# Add the scaled_numerical_df to the dictionary
vectorized_dataframes['numerical'] = scaled_numerical_df

# Concatenate all the vectorized DataFrames into a single DataFrame:
final_vectorized_df = pd.concat(vectorized_dataframes.values(), axis=1)

# Save the final_vectorized_df as a parquet file:
final_vectorized_df.to_parquet('final_vectorized_data.parquet')

In [ ]:

final_vectorized_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Columns: 1477 entries, title_000 to type_article_numerical
dtypes: float64(1477)
memory usage: 2.3 MB